div[section-id="daa38aef-daff-451e-a58f-aa1f815f0b92"] .products-slider.s-slider .slick-track{
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
}



div[section-id="daa38aef-daff-451e-a58f-aa1f815f0b92"] .products-slider.s-slider .prod-col:nth-child(4) {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    box-ordinal-group: 4;
}
div[section-id="daa38aef-daff-451e-a58f-aa1f815f0b92"] .products-slider.s-slider .prod-col:nth-child(1) {
    -webkit-box-ordinal-group: 5;
    -moz-box-ordinal-group: 5;
    box-ordinal-group: 5;
}
div[section-id="daa38aef-daff-451e-a58f-aa1f815f0b92"] .products-slider.s-slider .prod-col:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    box-ordinal-group: 3;
}
div[section-id="daa38aef-daff-451e-a58f-aa1f815f0b92"] .products-slider.s-slider .prod-col:nth-child(3) {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
}
div[section-id="daa38aef-daff-451e-a58f-aa1f815f0b92"] .products-slider.s-slider .prod-col:nth-child(5) {
    -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
}

